<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c7f1fe0f-8ca7-4642-a2bc-801a0ebfa2da" Publisher="CN=Vishnu" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BingMapWindowsStoreApp</DisplayName>
    <PublisherDisplayName>Vishnu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BingMapWindowsStoreApp.App">
      <VisualElements DisplayName="BingMapWindowsStoreApp" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="BingMapWindowsStoreApp" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="enterpriseAuthentication" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>